:root {
  --light_color: #d4d4d4;
  --dark_color: #010101;
}

.App {
  background: var(--light_color);
  display: flex;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.App .material-icons {
  font-size: inherit;
}

.App.dark {
  background: var(--dark_color);
}

.App.dark .App-logo {
  border-bottom: solid 3px var(--light_color);
}

.App-logo {
  border-bottom: solid 3px var(--dark_color);
  height: 40vmin;
  margin: 1em;
  min-height: 186px;
  min-width: 150px;
  padding: 0.3em;
  pointer-events: none;
}

.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  /* justify-content: center; */
  margin: auto;
  min-height: 100vh;
}